.loader-container {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);  
    z-index: 50;
  }
  
  .loader {
    width: 48px;
    height: 48px;
    position: relative;
  }
  
  .loader-shadow {
    content: "";
    width: 48px;
    height: 5px;
    background: rgba(240, 128, 128, 0.5);  
    position: absolute;
    top: 60px;
    left: 0;
    border-radius: 50%;
    animation: shadow324 0.5s linear infinite;
  }
  
  .loader-box {
    content: "";
    width: 100%;
    height: 100%;
    background: #f08080; /* Box color */
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    animation: jump7456 0.5s linear infinite;
  }
  
  .loader-text {
    margin-top: 16px;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    animation: fadeIn 1s ease-in-out infinite;
    font-family: "Poppins", sans-serif;
  }

  /* Fade-in animation for text */
@keyframes fadeIn {
    0%, 50%, 100% {
      opacity: 1;
    }
    25%, 75% {
      opacity: 0.5;
    }
  }
  
  /* Jumping animation */
  @keyframes jump7456 {
    15% {
      border-bottom-right-radius: 3px;
    }
  
    25% {
      transform: translateY(9px) rotate(22.5deg);
    }
  
    50% {
      transform: translateY(18px) scale(1, 0.9) rotate(45deg);
      border-bottom-right-radius: 40px;
    }
  
    75% {
      transform: translateY(9px) rotate(67.5deg);
    }
  
    100% {
      transform: translateY(0) rotate(90deg);
    }
  }
  
  /* Shadow animation */
  @keyframes shadow324 {
    0%,
    100% {
      transform: scale(1, 1);
    }
  
    50% {
      transform: scale(1.2, 1);
    }
  }
  